<div>
    <div class="pane" ng-include="'crud2.html'"></div>
    <div class="pane" ng-include="'crud2.html'"></div>
</div>

<script type="text/ng-template" id="crud2.html">
    <div class="crud" ng-controller="userCtrl2 as vm">
        <center>
            <h2>Users</h2>
            <h3>Controller and Service with Lamb</h3>
        </center>

        <div ng-if="vm.editUser.uuid !== 'new'">
            <button class="create-button" ng-click="vm.add()">Add</button>
        </div>
        <div ng-if="vm.editUser.uuid === 'new'">
            <label>Name: </label><input type="text" ng-model="vm.editUser.firstName">&nbsp;&nbsp;<input type="text" ng-model="vm.editUser.lastName"><br />
            <label>Email: </label><input type="email" ng-model="vm.editUser.email">
            <button ng-click="vm.cancelEdit()">Cancel</button>
            <button ng-click="vm.create(vm.editUser)">Save</button>
            <hr />
        </div>


        <br />
        <br />
        <br />
        <div class="list" ng-repeat="user in vm.users">
            <div ng-if="vm.editUser.uuid !== user.uuid">
                <span>{{user.lastName}}, {{user.firstName}}</span>
                <button ng-click="vm.delete(user.uuid)">Delete</button>
                <button ng-click="vm.edit(user.uuid)">Edit</button>
            </div>
            <div ng-if="vm.editUser.uuid === user.uuid">
                <label>Name: </label><input type="text" ng-model="vm.editUser.firstName">&nbsp;&nbsp;<input type="text" ng-model="vm.editUser.lastName"><br />
                <label>Email: </label><input type="email" ng-model="vm.editUser.email">
                <button ng-click="vm.cancelEdit()">Cancel</button>
                <button ng-click="vm.update(vm.editUser)">Save</button>
            </div>
            <hr>
        </div>
    </div>
</script>
